/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #353430;
  --bg-color-title: #ff8dcb;
  --color-decor-shadow: #ff0070;
  --color-text-title: #000028;
  --color-decor: #ffc2e6;
  --main-font: "IBM Plex Mono"; 
  --main-text: #353430;
  --transparent: rgba(53, 52, 48, 0.4);
  --bg-main: url(/images/cover-image-light.png);
}

