/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Верстаю от мобилки
Стандартная тема темная */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
font-family: var(--main-font, serif);
font-size: 18px;
color: var(--main-text);
line-height: 23.4px;
background-color: var(--color-text-title);
background-image: var(--bg-main);
background-attachment: fixed;
background-position: center;
background-size: cover;
padding: 0 10px;
display: grid;
gap: 40px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}


.rec-decor {
  position: absolute;
  display: var(--display);
  gap: 10px;
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  z-index: -1;
  align-items: center;
}
.rec-decor::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 24px;

}

.rec-decor::after {
  content: "";
  height: 9px;
  width: 9px;
  box-shadow: 0 0 2px 2px var(--accent-color);
  border-radius: 50%;
  display: inline-block;
  background-color: var(--accent-color);
  margin-right: 10px;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  
}
.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}



/* кнопки */
.header__theme-menu {
  font-family: inherit;
  line-height: inherit;
}

.header__theme-menu-button {
  display: inline-block;
  padding: 1.5px 13px;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
}
.header__theme-menu-button:hover {
  outline:  var(--transparent) solid 1px;
  /* прозрачность */
  
}

.header__theme-menu-button:focus-visible {
  /* text-decoration: underline; */
  border-bottom: 1px solid var(--accent-color);
  
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 100vh;

}

.header__p {
  margin-block: 55px;
  display: flex;
  background-color: var(--bg-color-title);
  color: var(--color-text-title);
  font-weight: 700;
  block-size: 117px;
  inline-size: 355px;
  justify-self: end;
}

.header__theme-menu {
  display: grid;
  place-items: center end;
}




.link{
  text-shadow:1.5px 1.5px 0px var(--accent-color);
  text-decoration: none;
}
.link:hover {
  border-bottom: 1px solid var(--transparent);
} 
.link:focus {
  outline: 1px solid var(--main-text);
  /* в состоянии фокуса рамка не та */
}



.page__title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-decor);
  line-height: 82.5%;
  font-weight: 700;
  font-style: normal;
}

.page__title-shadow {
  text-shadow:4px 4px 0px var(--color-decor-shadow) ;
}


.title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
}

.title-decor {
  color: var(--color-text-title);
  background-color: var(--bg-color-title);
}
 
.images-gallery-list__item {
  max-width: 100%;
}

.main__theme {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 10px;
}

.list {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}
.gallery-list {
  display: grid;
  gap: 10px;
}


.images-gallery-list__item {
  block-size: 100%;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
  display: block;
}

.footer {
  background-image: var(--bg-main);
  text-shadow: 4px 4px 0px var(--color-decor-shadow);
  height: 100vh;
  display: flex;
  place-items: center;
  position: relative;
}


/* media */

@media (768px <= width < 1024px) {
  .header__p {
    justify-self: end;
    inline-size: 364px;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 70px;
  }

  .section:not(:last-child) {
    grid-template-columns: 236px auto;
  }
  .list__what {
    grid-column-start: span 2;
  }
  .main__theme {
    padding: 60px 20px;
    gap: 80px;
  }

  .list__what {
    gap: 20px;
  }
  
  .cover {
    display: grid;
    padding: 20px;
  }

  .gallery-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
  .gallery-list__item:first-child, 
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }
  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start:span 2 ;
  } 
}

@media (min-width: 1024px) {

  
  .header__p {
    justify-self: end;
    inline-size: 491px;
    block-size: 71px;
  }

  .header__theme-menu {
    place-items: start center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .section:not(:last-child) {
    grid-template-columns: 340px auto;
  }
  .list__what {
    grid-column-start: span 2;
    grid-template-columns: repeat(3,1fr);

  }
  .main__theme {
    padding: 60px 20px;
    gap: 80px;
  }

  .list__what {
    gap: 20px;
  }
  
  .cover {
    display: grid;
    padding: 20px;
  }

  .gallery-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
  .gallery-list__item:first-child, 
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }
  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start:span 2 ;
  } 

}

